{% extends 'base.html' %}

{% block content %}
  <h1>Games</h1>
  <table>
    <thead>
      <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Home Score</th>
        <th>Away Score</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for game in all_games %}
        <tr>
          <td>{{ game.home_team.team_name }}</td>
          <td>{{ game.away_team.team_name }}</td>
          <td>{{ game.home_team_score }}</td>
          <td>{{ game.away_team_score }}</td>
          <td>{{ game.game_date }}</td>
          <td>
            <form action="/games/{{ game.id }}/delete" method="POST">
            <button>Delete</button>
            </form>
            <a href="/games/{{game.id}}/edit">Edit Game</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

