{% extends 'base.html' %}

{% block content %}

<h2>New Game</h2>

<form action="/games" method="POST">
    <label for="home_team">Home Team:</label>
    <select name="home_team" id="home_team">
        {% for team in teams %}
            <option value="{{ team.id }}">{{ team.team_name }}</option>
        {% endfor %}
    </select><br>

    <label for="away_team">Away Team:</label>
    <select name="away_team" id="away_team">
        {% for team in teams %}
            <option value="{{ team.id }}">{{ team.team_name }}</option>
        {% endfor %}
    </select><br>

    <label for="home_team_score">Home Team Score:</label>
    <input type="number" name="home_team_score" required><br>

    <label for="away_team_score">Away Team Score:</label>
    <input type="number" name="away_team_score" required><br>

    <label for="game_date">Game Date:</label>
    <input type="date" name="game_date" required><br>

    <input type="submit" value="Create Game">
</form>

{% endblock %}



