{% extends 'base.html' %}

{% block content %}
  <h1>Edit Team</h1>
  <form method="POST" action="{{ url_for('team.edit_team', team_id=team.id) }}">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ team.team_name }}"><br>
    <label for="region">Region:</label>
    <input type="text" name="region" value="{{ team.region }}"><br>
    <label for="logo">Logo URL:</label>
    <input type="text" name="logo" value="{{ team.logo }}"><br>
    <input type="submit" value="Update">
  </form>
{% endblock %}

