{% extends 'base.html' %}

{% block content %}
  <h1>Teams</h1>
  <table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Logo</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td><img src="{{ url_for('static', filename='logos/' + team.logo_filename) }}" alt="{{ team.name }} logo"></td>
          <td>{{ team.wins }}</td>
          <td>{{ team.losses }}</td>
          <td>{{ team.region }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}




