{% extends 'base.html' %}

{% block content %}
  <h1>Teams</h1>
  <table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>League</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Region</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.team_name }}</td>
          <td>{{ team.league.league_name }}</td>
          <td>{{ team.wins }}</td>
          <td>{{ team.losses }}</td>
          <td>{{ team.region }}</td>
          <td>
            <a href="/teams/{{ team.id }}/edit">Edit</a>
            <form action="/teams/{{ team.id }}/delete" method="POST">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}




