{% extends 'base.html' %}

{% block content %}
  <h1>Teams</h1>
  <table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Logo</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      {% for team in all_teams %}
        <tr>
          <td>{{ team.team_name }}</td>
          <td id="logo"><img id="logo" src="static/images/{{ team.logo }}" alt="{{ team.team_name }}"></td>
          <td>{{ team.wins }}</td>
          <td>{{ team.losses }}</td>
          <td>{{ team.region }}</td>
          <td>
            <form action="/teams/{{team.id}}/delete" method="POST">
            <button>Delete</button>
            </form>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}





