{% extends 'base.html' %}

{% block content %}

<h2>New Team</h2>

<form action="/teams" method="POST">
    <label for="team_name">Team Name:</label>
    <input type="text" name="team_name" required><br>

    <label for="league">League:</label>
    <select name="league" id="league">
        {% for league in leagues %}
            <option value="{{ league.id }}">{{ league.league_name }}</option>
        {% endfor %}
    </select><br>

    <label for="wins">Wins:</label>
    <input type="number" name="wins" required><br>

    <label for="losses">Losses:</label>
    <input type="number" name="losses" required><br>

    <label for="region">Region:</label>
    <input type="text" name="region" required><br>

    <label for="logo">Logo URL:</label>
    <input type="text" name="logo" required><br> 

    <input type="submit" value="Create Team">
</form>

{% endblock %}

